
/*reset*/

table {border-collapse:collapse;border-spacing:0;} 
img {border:0 none;} 
em {font-weight:normal;font-style:normal;} 
ol,ul {list-style:none;} 
h1,h2,h3,h4,h5,h6 {font-weight:normal;font-size:100%;} 
.clearFix:after{content:' ';display:block;height:0;clear:both;overflow:hidden;visibility:hidden;}
.clearFix {*zoom:1;}
a {text-decoration:none;}
a:hover {text-decoration:none;}
.fl {float:left;display:inline;}
.fr {float:right;display:inline;}
.none {display:none;}
.block {display:block;}
input,textarea {font-size:12px;outline:0 none;}


#n{margin:10px auto; width:920px; border:1px solid #CCC;font-size:12px; line-height:30px;}
#n a{ padding:0 4px; color:#333}

.contentg{
	width:1050px;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.content_l {width:665px;overflow:hidden;float:left;}
.content_r {width:310px;overflow:hidden;float:right;}
.title {font-size:16px;height:100px;line-height:100px;}
/*links*/
.links_list {
	height:220px;
	overflow:hidden;
	position: relative;
	z-index: 3;
	padding-top: 50px;
	padding-right: 0;
	padding-bottom: 50px;
	padding-left: 0;
}
.link_prev,.link_next {
	float:left;
	width:50px;
	height:54px;
	overflow:hidden;
	text-indent:-999em;
	display:block;
	cursor:pointer;
	background:url(../images/links.png) 0 0 no-repeat;
	position: relative;
	z-index: 2;
	margin-top: 50px;
	margin-left: 15px;
}
.link_next {background-position:-50px 0;}
.link_prev:hover,.link_next:hover {opacity:0.8;filter:alpha(opacity=80);}
#links {
	width:860px;
	height:200px;
	overflow:hidden;
	float:left;
	padding:5px 0 0 0;
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 10px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #999;
	border-bottom-color: #999;
	
}
#links ul {
	height:170px;
	padding-top:11px;
	overflow:hidden;
	width:2000px;
}
#links li {float:left;width:150px;margin:0 10px;display:inline;height:166px;line-height:166px;border: 1px solid #80C4AF;}
#links img {display:block;width:150px;height:150px;overflow:hidden;}
#links a:hover img {opacity:0.8;filter:alpha(opacity=80);}

.slideContainer{position: relative;z-index:0;}
